<script type="text/javascript" src="http://platform.twitter.com/widgets.js">
</script>

<% @selected_codes.each do |sc| %>
<h1> The code of the day is: </h1>
	<% @twitter_text = "OH: what a beautiful code #{code_url(sc)} (via @ohthecode)" %>
	<a href="http://twitter.com/share"  class="twitter-share-button" 
	data-text="<%= @twitter_text %>" 
	data-url="none" 
	data-count="none"> Tweet this code </a>

	<p> Author:
	<% if !sc.user.nil? %>
		<%= sc.user.email %>
	<% else %>
		<%= "Unknown User" %> </p>
	<% end %>

	<p> Title:
	<%= sc.title %> </p>

	<p> Language:
	<% if !sc.language.nil? %>
		<%= sc.language %>
	<% else %> 
		<%= "Unknown language" %></p>
	<% end %>

	<p> Code:
	<%= sanitize Kramdown::Document.new(sc.content).to_html %> </p>

	<% if !sc.description.nil? %>
		<p> Description:
		<%= sc.description %> </p>
	<% end %>

	<br/>
	<% if !current_user.nil? %>
		<h2> Do you want to share this code by email? </h2>
		<%= form_tag({:action => "share_by_email", :controller => :codes, 
					  :code_id => sc.id}) do  %>
			<p><%= label_tag :to_email, "His/Her email" %>
				<%= text_field_tag :to_email, params[:to_email] %> </p>

			<p><%= label_tag :to_name, "His/Her name" %>
				<%= text_field_tag :to_name, params[:to_name] %> </p>

				<%= hidden_field_tag "current_user", current_user.id %>
			<%= submit_tag "Send email" %>
			<br/>
		<% end %>	
	<% end %>

<% end %>

<br/>

