<script type="text/javascript" src="http://platform.twitter.com/widgets.js">
</script>

<style>
.middle {
background:none;
margin:0 auto;
padding:0;
width:100%;
 }

p.alert {
	display:none;
}

.sidebar {
	display:none;
}

.content-col {
	margin-left:0;
}

.header {
	background:none;
}

.footer .container {
background:none;
}	
</style>

<% @code = @selected_codes.first %>

<div class="container-home">

	<% if !@code.nil? %>
		<div id="codeoftheday">			
			<h1> The code of the day is </h1>

			<div id="code-header">
				<h2> <%= @code.title %> </h2>
				<h3> Uploaded by: <%= link_to "#{@code.user.nickname}", user_path(@code.user) %> </h3>
			</div>

			<div class="code-box">
				<div class="code-box-content">
					<pre>
					<!-- <code> -->
					<%= markdown(@code.content) %>
					<!-- </code> -->
					</pre>

		<%= link_to 'Read more about this code now!', code_path(@code) %>
				</div> 
			</div>
		</div>       
<% else %>

<!-- Ghislaine: Display something like: no code here yet. This could be yours! -->

	<div id="codeoftheday">			
		<h1>No code today!</h1>     
		<div id="code-header">
		</div>
		<div class="code-box">
			<div class="code-box-content no-code">
					<h2>This Space could be yours</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<%= link_to 'Post a code', new_code_path %> 
			</div>
		</div>
	</div>       
	<% end %>
</div>

<% if !current_user %>
<h2 class="howitworks">How it works</h2>


<!-- middle -->
	<div class="middle-home">
		<div id="topslider" class="tabs-bottom">
			<ul>
				<li class="first"><a href="#fragment-1" ><span> 1</span></a></li>
		    	<li><a href="#fragment-2" ><span> 2</span></a></li>
		    	<li><a href="#fragment-3" ><span>3</span></a></li>
		    	<li><a href="#fragment-4" ><span> 4</span></a></li>
			</ul>

			<div id="fragment-1">
				 <div class="left-text" id="text-1">
		    		<div class="slide-title">
		    			You are a very talented developer and you just wrote a very beautiful code <img src="images/flick.gif" /> 
					</div>
				</div>
				<div class="right-text">
				<img src="images/img-3.png" width="660" height="384" alt="" /> 
				</div>
			</div>
		</div>

		<!-- content -->

		<div class="content">
			
			<h2>Have some free time, during lunch for instance? </h2>
			<h3>Browse all the codes that have been pushed to the web site and give them a shout!</h3>
			<a id="browse-link" href="#" >Browse the Codes</a>
		
		
			<div class="recent-list">
		    	<% if !@recent_codes.empty? %>
		        <h4>Recent Codes</h4>
		        	<% @recent_codes.first(4).each do |c| %>
		        	<div class="recent-items">
		            		<h5><a href="#"> <%= c.title %> </a></h5></br>
		            		<a href="#"><%= c.user.nickname %></a>
		            		<p><%= truncate(c.description, :length => 140) %></p>
		            </div>
		        	<% end %>

		        	<% else %>
		        	<!-- Ghislaine: same here -->
		        	<% end %>
		    </div>


		    <div class="recent-list">
		       <h4>Top Users</h4>
		        		<% @top_users.first(4).each do |u| %>
		        		<div class="recent-items">
			            		<img src="images/avatar.jpg" />
			            		<h5><a href="user-profile.html"><%= u.nickname %></a></h5>
			            		<span class="score"><%= u.score %></span>
			         </div>   
		        		<% end %>
		        	
		    </div>
		</div><!-- content -->
	</div>






</div>

<% end %>