<%= link_to 'Sort by date', users_path('criteria' => 'sort_by_date') %> <br/>
<%= link_to 'Sort by score', users_path('criteria' => 'sort_by_score') %> <br/>
<br/>

<h1> Search a user </h1>
<%= form_for @search, :url => users_path, :html => {:method => :get} do |f| %>
	<%= f.label :nickname_contains %>
	<%= f.text_field :nickname_contains, { :id => "search-by-nickname" } %>
	<%= f.submit %>
<% end %>
<br/> <br/>

<h1> List of users </h1>
<% @users.each do |u| %>
	<%= link_to u.nickname, user_path(u) %> <br/>
<% end %>