<h1 class="page-title">Profile</h1>

<div class="profile-box">
	<p> Profile page for: <%= @user.nickname %> </p>
	<p>Score=<%= @user.score %></p>
	<p> <%= @user.email %> </p>
	<p> <%= @user.website %> </p>
	<p> <%= @user.biography %> </p>

	<div id="profile-box-vote">
		<%= button_to "Up", user_vote_up_path(:user_id => @user.id) %>
	</div>
</div>

<div class="user-codes">
	<h3> This user posted the following codes: </h3>
	<ul>
	<% @user.codes.each do |c| %>
		<li><%= c.title %></li>
	<% end %>
	</ul>
</div>