<h1 class="page-title"><%= current_user.nickname %> </h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <h2> Registration information </h2>
  <p><%= f.label :email %>
  <%= f.email_field :email %></p>

  <p><%= f.label :password %> <small>(leave blank if you don't want to change it)</small>
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></p>


  <h2> Profile information </h2>
  <p><%= f.label :website %> 
  <%= f.text_field :website %> </p>

  <p><%= f.label :biography %> 
  <%= f.text_area  :biography %></p>

  <h2><%= f.label : %> </h2>
  
  <p><%= f.submit "Update" %></p>
<% end %>

<%= link_to "Back", :back %>
