<body>
	<%= image_tag("github_logo.png") %> <br/>

	<div id="authentication">
		<% if current_user %>
			  <% if current_user.nickname %>
					<%= "You are signed in as #{current_user.nickname}" %> <br/>
				<% else %>
					<%= "You are signed in as #{current_user.email}" %> <br/>
				<% end %>	
				<%= link_to 'Sign me out', destroy_user_session_path %>  <br/>
		<% else %>
				<%= link_to 'Sign In with devise', new_user_session_path %> <br/>
				<%= link_to 'Sign In with Twitter', '/auth/twitter' %> <br/>
				<%= link_to 'Link your GitHub account', '/auth/GitHub/' %> <br/>
		<% end %>
	</div>
			
	<div id="menu">
		<% if current_user %>
			<%= link_to 'Active codes', codes_path %> |
			<%= link_to 'Propose your most beautiful code', new_code_path %>|
			<%= link_to 'Tags', tags_path %> 
		<% end %>

		<%= link_to 'Archives', archives_path %> <br/>
	</div>	
</body>
