<% if current_user %>
	<div id="toolbar">
		<div id="toolbar-content">
			<div id="user-bar">
				<p>
					<!-- TODO GHISLAINE: remove the &nbsp; and put a padding somewhere -->
					<strong> Welcome </strong> &nbsp;
					<%= link_to current_user.nickname, user_path(current_user) %>
				</p>
				<%= link_to "Log Out", destroy_user_session_path, :id => 'logout' %> 
			</div>
		</div>
	</div>
<% end %>


<div class="bodywrap">
<!-- header -->
	<div class="header-wrap">
		<div class="header">
			<div class="logo">
				<a href="index.html">	
					<%= 
						image_tag("logo.png", 
								 	:alt => "Oh the Code",
								 	:width => "547", 
								 	:height => "34", 
								 	:border => "0") 
				 	%>
				 </a>
			</div>
             
             <div class="topmenu">
    			<ul>
    				<!-- both -->
    				<li>
                  		<span> <%= link_to 'Home', :root, :class => "active" %> </span>
          			</li>

					<% if current_user %>
	          			<li>
	                  		<span> <%= link_to 'Post a Code', new_code_path %> </span>
	          			</li>

	          			<!-- logged in -->
	                  	<li>
	              			<span> <%= link_to 'Active Codes', codes_path %> </span>
	          			</li>
	          			
	          			<!-- logged in -->
	                  	<li>
	              			<span> <%= link_to 'Users', users_path %> </span>
	          			</li>	          			
          			<% end %>

          			<!-- both -->
                  	<li>
                  		<span> <%= link_to 'Archive', archives_path  %> </span>
              		</li>

          			<% if !current_user %>
          				<li>
	          				<span> <%= link_to "Sign In", new_user_session_path %> </span>
	          			</li>

	          			<li>
	          				<span> <%= link_to "Register", new_user_registration_path %> </span>
	          			</li>
          			<% end %>
                </ul>
    			<div class="clear">
    			</div>
			</div>
		</div>
</div> 


