<div class="sidebar">

<%= form_for @search, :url => codes_path, :html => {:method => :get} do |f| %>
	<%= f.label :language_contains %>
	<%= f.text_field :language_contains, { :id => "search-by-language" } %>
	<%= f.submit %>
<% end %>

	<h3> Tags </h3>	
	<% Tag.all.each do |tag| %>
		 <div class="tags"><%= link_to tag.name, codes_path %> <span class="closed">close</span></div>
	<% end %>
</div>