
<!-- # <%= link_to 'Sort by date', codes_path('criteria' => 'sort_by_date') %> <br/>
# <%= link_to 'Sort by score', codes_path('criteria' => 'sort_by_score') %> <br/>
# <%= link_to 'Sort by popularity', codes_path('criteria' => 'sort_by_popularity') %> <br/>
 -->


<%= form_for @search, :url => codes_path, :html => {:method => :get} do |f| %>
	<%= f.label :language_contains %>
	<%= f.text_field :language_contains, { :id => "search-by-language" } %>
	<%= f.submit %>
<% end %>
<br/> <br/>

<p>
	<% @codes.each do |c| %>
		<% if !c.user.nil? %>
			<%= "Author=#{c.user.email}" %> <br/>
		<% end %>
		<%= button_to "Up", code_vote_up_path(:code_id => c.id) %>
		<%= button_to "Down", code_vote_down_path(:code_id => c.id) %>
		<%= "Score=#{c.score}" %> <br/>
		<p> Title=
		<%= link_to "#{c.title}", code_path(c), :id => 'code' %> <p/>
		<p> Content = 
		<%= sanitize Kramdown::Document.new(c.content).to_html %> </p>
		<%= "Description=#{c.description}" %> <br/> 
		----
		<br/>
	<% end %>
</p>