<%= link_to 'Sign In', new_user_session_path %> <br/>
<%= link_to 'New Code', new_code_path %> <br/>

<p>
	<% @codes.each do |c| %>
		<% if !c.user.nil? %>
			<%= "Author=#{c.user.email}" %> <br/>
		<% end %>
		<%= button_to "Up", code_vote_up_path(:code_id => c.id) %>
		<%= "Score=#{c.score}" %> <br/>
		<%= "Title=#{c.title}" %> <br/>
		<%= "Content=#{c.content}" %> <br/>
		<%= "Description=#{c.description}" %> <br/> 
		----
		<br/>
	<% end %>
</p>

