<h1 class="page-title">Active Codes</h1>

<%= render 'shared/sidebar' %>

<div class="content-col">

<!-- # <%= link_to 'Sort by date', codes_path('criteria' => 'sort_by_date') %>
# <%= link_to 'Sort by score', codes_path('criteria' => 'sort_by_score') %>
# <%= link_to 'Sort by popularity', codes_path('criteria' => 'sort_by_popularity') %>
 -->



	<% @codes.each do |c| %>

	<div class="code-post">
		<h2><%= link_to "#{c.title}", code_path(c), :id => 'code' %></h2>
		<p class="author">
		<% if !c.user.nil? %>
			<%= "#{c.user.nickname}" %>
		<% end %>
		</p>
		<div class="code-meta">
		<%= "#{c.created_at}" %>  // <a href="#"><strong><%= "#{c.language}" %></strong></a>
		</div>
		<div class="code-content">
			<div class="code-voting">
				<%= button_to "Up", code_vote_up_path(:code_id => c.id), { :class => "button-up" } %>
				<span class="voting-score"><%= "#{c.score}" %></span>
				<%= button_to "Down", code_vote_down_path(:code_id => c.id), { :class => "button-down" } %>	
			</div>
			<div class="code-post-box"> 
			<%= sanitize Kramdown::Document.new(c.content).to_html %> 
			</div>
		</div>
		<div class="code-description">
		<%= "#{c.description}" %> 
		</div>
	</div>
	<% end %>

</div>
