
<script type="text/javascript">
	$(function() {
		var element = $('li[id^="l"]');	
		$("#l0").mouseover(function(event) {
			$("#l0").addClass('ac_over');
		});

		$("#l0").mouseout(function(event) {
			$("#l0").removeClass('ac_over');
		});

		$("#tagnames").keydown(function (event) {
			$("#tag-preview").load('/tags/related_tags?current_tag=' + this.value);
		});
	});
</script>

<h1 class="page-title">Post a Code</h1>

<%= link_to "Share one of my Gists instead", import_gist_codes_path, :id => "share-gists" %>

<%= form_for(@code) do |f| %>
	<%= f.label :title %> 
	<%= f.text_field :title %> <br/> <br/>

	<%= f.label :content %> 
	<%= f.text_area :content %> <br/><br/>

	<%= f.label :language, "languages-select" %> 
	<%= f.select :language, options_for_select([['Ruby', 'Ruby'], ['C++', 'C++']]), :id => "languages-select" %> <br/> <br/>

	<%= f.label :description %> 
	<%= f.text_area :description %> <br/> <br/>
	
	<%= label_tag :tags %> 
	<%= text_field_tag :tags, params[:tags], {:id => "tagnames"} %> <br/> <br/>
	
	<div id ="tag-preview" style="display: block;">
	</div>

	<%= f.submit "Submit This Shiny Beautiful Code" %>

<% end %>
