<!-- http://daringfireball.net/projects/markdown/syntax -->
<!-- http://github.github.com/github-flavored-markdown/ -->

<script type="text/javascript" src="http://platform.twitter.com/widgets.js">
</script>

<% @twitter_text = "OH: Beautiful code proposal here #{code_url(@code)} (via @ohthecode)" %>
<a href="http://twitter.com/share"  class="twitter-share-button" 
	data-text="<%= @twitter_text %>" 
	data-url="none" 
	data-count="none"> Tweet this code </a>

<div id="code">
	<%= @code.title %>
	<%= @code.language %>
	<%= sanitize Kramdown::Document.new(@code.content).to_html %>
	<%= @code.description %>
	<div id="tags"> <%= render @code.tags %> </div>

	<% @code.comments.each do |c| %>
		<%= c.user.email %>
		<%= c.content %>
	<% end %>
	
	<%= form_for([@code, @code.comments.build]) do |f| %>
		<%= f.label :content %>  <br/>
		<%= f.text_area :content, {:id => "Comment"} %> <br/><br/>
		<%= f.submit %> 
	<% end %>
</div>
