<div id="code">
	<%= @code.title %>
	<%= @code.language %>
	<%= @code.content %>
	<%= @code.description %>
	<div id="tags"> <%= render @code.tags %> </div>

	<% @code.comments.each do |c| %>
		<%= c.user.email %>
		<%= c.content %>
	<% end %>
	
	<%= form_for([@code, @code.comments.build]) do |f| %>
		<%= f.label :content %>  <br/>
		<%= f.text_area :content, {:id => "Comment"} %> <br/><br/>
		<%= f.submit %> 
	<% end %>
</div>
