<!-- http://daringfireball.net/projects/markdown/syntax -->
<!-- http://github.github.com/github-flavored-markdown/ -->

<script type="text/javascript" src="http://platform.twitter.com/widgets.js">
</script>

<h1 class="page-title"><%= @code.title %></h1>

<h2>By <a href="#"><%= @code.user.nickname %></a></h2>

<div class="code-meta">
Friday, April 2, 2010 // <a href="#"><strong> <%= @code.language %> </strong></a>
</div>

<div class="code-post">
    <div class="code-content">
        
        <div class="code-voting">
        <%= button_to "", code_vote_up_path(:code_id => @code.id), :html => {:class => ""} %>
        <span class="voting-score"><%= @code.score %></span>
        <%= button_to "", code_vote_down_path(:code_id => @code.id), :html => {:class => ""} %>
        </div>

        <div class="code-post-box">
        <pre>
            <%= sanitize Kramdown::Document.new(@code.content).to_html %>
        </pre>
        </div>
    </div>

    <div class="code-description">
            <%= @code.description %>
    </div>   
</div>

<div class="code-meta-bot">
        <a href="#" class="link-comments"><%= @comments.count unless @comments.nil? %></a>
</div>

<!-- comments -->

<div class="comment-list">
<h2>Comments</h2>

<% if !@comments.nil? %>
    <% @comments.each do |comment| %>
        <div class="comment-one">
            <div class="comment-box">

                <div class="comment-meta">
                    <strong class="author"><%= comment.user.nickname %> </strong>  <br/>
                    <span class="comment-date"><%= comment.created_at %> </span>    
                </div>

                <div class="comment-text">
                    <p> <%= comment.content %> </p>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="comment-text">
        <p> <%= "No comments posted yet" %> </p>
    </div>
<% end %>


<!-- comment form -->           
<div class="comment-form" id="addcomment">

<h2>Add Comment:</h2>
<%= form_for([@code, @code.comments.build]) do |f| %>
    <p class="textarea"> <%= f.text_area :content, :html => {:cols => "40", :rows => "10"} %> </p>
    <p class="btn-send"> <%= f.submit "Send Message" %> </p>
<% end %>


</div>  

<!--/ comment form -->           

</div>

