<h1 class="page-title">Archive</h1>

<% @archives.each do |date, codes| %>
  <h2 class="archive-month"><%= Date::MONTHNAMES[date] %> </h1>
  <div class="archived-code">
      <% codes.flatten.each do |code| %>
        <div class="date"><%= code.created_at %></div>
        <h3><%= "#{code.title}" %> </h3>
        <div class="author"><%= "by #{code.user.nickname}" %> </div>
        <div class="score"><%= ":#{code.score} points"%></div>
        <div class="description"><%=  "Description: #{code.description}" %> </div>
      <% end %> 
  </div>	
<% end %>
